Source: amlogic-npu-sdk
Section: libs
Priority: optional
Maintainer: Elmurod Talipov <e.talipov@samsung.com>
Build-Depends: cmake (>2.8)
Standards-Version: 6.3.3.4
Homepage: https://github.sec.samsung.net/da-system-software/amlogic-sdk

Package: amlogic-npu-sdk
Architecture: arm64 armhf
Multi-Arch: same
Description: AmlogicNPU SDK Library for NN Applications.

Package: amlogic-npu-sdk-dev
Architecture: arm64 armhf
Multi-Arch: same
Description: Header and Configuration for Amlogic NPU SDK Library.
Depends: amlogic-npu-sdk

